@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-wiggle-left: wiggle-left 0.7s ease-in-out forwards ;
  @keyframes wiggle-left {
    0%{
      transform: translateX(-200px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }
  --animate-wiggle-right: wiggle-right 0.7s ease-in-out forwards;
  @keyframes wiggle-right {
    0%{
      transform: translateX(200px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }
  --animate-ios-liquid: ios-liquid 6s ease-in-out infinite;

  @keyframes ios-liquid {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 200% 50%; }
    100% { background-position: 0% 50%; }
  }
}

/* Custom Components */
@layer components {
  .sup-tag{
    @apply text-xs not-last:uppercase px-2 py-1 border rounded-full
  }
  .title {
    @apply text-5xl font-black text-[#EDEDF8]
  }
  .sub-title {
    @apply text-sm text-[#55556A]
  }
  .header {
    @apply text-xs text-[#66668A] font-bold
  }
  .sub-header {
    @apply text-xs font-medium text-[#333355]
  }
  
}
body{
  background: #0A0A10;
}